
:root {
  --ch-primary-color: #d980f9;
  --ch-secondary-color: #5dd5f7;
}

/*colores*/
.ch-bg-primary,
.ch-btn-primary {
  background-color: var(--ch-primary-color) !important;
}

.ch-bg-secondary,
.ch-btn-secondary {
  background-color: var(--ch-secondary-color) !important;
}

.ch-bg-white {
  background-color: #fff !important;
}

.ch-color-primary {
  color: var(--ch-primary-color) !important;
}

.ch-color-secondary {
  color: var(--ch-secondary-color) !important;
}

.ch-btn-primary,
.ch-btn-secondary,
.ch-color-white {
  color: #fff !important;
}


.ch-color-black {
  color: #000;
}

/*colores*/


/* Carousel */
.swiper {
  width: 100% !important;
  height: fit-content;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.homeSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeSwiper .swiper-slide img {
  object-fit: cover;
  filter: brightness(70%);
  height: 100vh;
}

.ch-swiper-navigation-color-primary {
  --swiper-navigation-color: var(--ch-primary-color);
}

.ch-swiper-navigation-color-secondary {
  --swiper-navigation-color: var(--ch-secondary-color);
}

.ch-swiper-pagination-color-primary {
  --swiper-pagination-color: var(--ch-primary-color);
}

.ch-swiper-pagination-color-secondary {
  --swiper-pagination-color: var(--ch-secondary-color);
}

/* Carousel */
.proyectoSwiper2 {
  height: fit-content;
  width: 100%;
}

.proyectoSwiper {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.proyectoSwiper .swiper-slide {
  width: 25%;
  height: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

 
.proyectoSwiper .swiper-slide-thumb-active {
  border: 3px solid var(--ch-primary-color);
}

/* Carousel */


/*navbar*/
.ch-menu-active-line {
  border-bottom: 3px solid;
}

.ch-bg-transparent {
  background-color: transparent;
}

.ch-menu-hover:hover {
  background-color: rgba(255, 255, 255, 0.244);
  border-radius: 5px;
  transition: 0.5s;
}

/*navbar*/


/* toltips */
.ch-tooltip-primary {
  --tt-bg: var(--ch-primary-color) !important;
  /* Color de fondo del tooltip */
}

.ch-tooltip-secondary {
  --tt-bg: var(--ch-secondary-color) !important;
  /* Color de fondo del tooltip */
}

/* toltips */


/* others */

img {
    -webkit-user-drag: none !important;   /* Evita arrastrar imágenes */
    user-drag: nonec !important;
}

.ch-bg-image-fixed {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.ch-btn-neon-pulse {
  position: relative;
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
  min-width: 200px;
  z-index: 1;
  background: var(--ch-secondary-color);
  border: 2px solid var(--ch-secondary-color);
  overflow: visible;
}


.ch-btn-neon-pulse::before,
.ch-btn-neon-pulse::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 2px solid var(--ch-secondary-color);
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}

.ch-btn-neon-pulse::after {
  animation-delay: 1s;
}

@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* others */

/* develomemt */
.bg {
  background-color: red !important;
}

/* develomemt */

/* clases CSS modificadas de daisyUI */
.btn {
  border: none !important;
  box-shadow: none !important;
  letter-spacing: 0.5px !important;
}

.card {
  position: relative;
}

/* clases CSS modificadas de daisyUI */
.ch-card-img-hover-scale:hover .ch-card-img {
  transform-origin: center;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.ch-line-bottom-gradient::after {
  content: '';
  background: linear-gradient(to right, var(--ch-primary-color), var(--ch-secondary-color));
  height: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
}

.ch-card-line-right-gradient::after {
  content: '';
  background: linear-gradient(to top, var(--ch-primary-color), var(--ch-secondary-color));
  height: 100%;
  width: 0.5rem;
  position: absolute;
  right: 0;
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;

}

.ch-circle-left-gradient::after {
  content: '';
  background: linear-gradient(to top, var(--ch-primary-color), var(--ch-secondary-color));
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  border-end-end-radius: 100%;
}

.ch-card-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  /* grosor del borde */
  border-radius: inherit;
  background: linear-gradient(90deg, var(--ch-primary-color), var(--ch-secondary-color));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}


.ch-curved-underline {
  position: relative;
  display: inline-block;
  /* se ajusta al ancho del texto */
  padding-bottom: .35rem;
  /* espacio para el trazo */
  /* controla el color del brochazo */
}

/* .ch-curved-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -.2rem;
  width: 65%;
  height: .7rem;
  background: center/100% 100% no-repeat url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 20' preserveAspectRatio='none'>\
  <path d='M5,14 C35,4 65,4 95,14 L95,18 C65,10 35,10 5,18 Z' fill='currentColor'/>\
</svg>");
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, .25));
} */

/* video */
/* Estilos personalizados para el slider de rango (Netflix Red) */
/* Estilo base del input range */
/* Estilos personalizados para el slider de rango (Netflix Red) */
input[type=range] {
  -webkit-appearance: none;
  /* Resetear estilos nativos */
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--ch-primary-color);
  /* Rojo Netflix */
  cursor: pointer;
  margin-top: -6px;
  opacity: 0;
  /* Oculto hasta hover */
  transition: opacity 0.2s;
}

/* Mostrar la "bolita" del slider cuando el mouse está sobre la barra de controles */
.controls-container:hover input[type=range]::-webkit-slider-thumb {
  opacity: 1;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #4b5563;
  /* Gris oscuro */
  border-radius: 2px;
}

/* video */